<% include ./partials/header %>
	<br>
	<br>
	<br>
    <br>
    <% if(error.length > 0){ %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger" role="alert" style="background:transparent">
                        <%= error %>
                    </div>
                </div>
            </div>
        </div>
        
    <% } %>

    <div class="container">
       
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center" id="name"><%= language.__("Ostatnie 3 projekty") %></h1>
				<% if(typeof currentUser !== 'undefined'){ %>
                    <div class="text-center">
                 
                        <a href="/announcements/new">Dodaj ogłoszenie</a>
                    </div>
                <% } %>
            </div>
        </div>
		 <% if(announcements != 0){ %>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <% if(lang === "pl"){ %>
                            <%= announcements[0].pl %>
                        <% } else { %>
                            <%= announcements[0].en %>
                        <% } %>
                        <% if(typeof currentUser !== 'undefined'){ %>
                            <div class="d-inline">
                         
                                <a href="/announcements/<%= announcements[0]._id %>/edit" class="btn btn-secondary">Edytuj ogłoszenie</a>
                                <a href="/announcements/<%= announcements[0]._id %>/delete" class="btn btn-dark">Usuń ogłoszenie</a>
                            </div>
                        <% } %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
                    </div>
                </div>
            </div>
        <% } %>
            <div class="row">
                <% if(projects.length===0){ %>
                    <div class="col-lg-6 col-md-12 text-center">
                        <div class="alert alert-info">
                            Nie ma żadnych projektów
                        </div>
                    </div>
                <% } else { %>
                    <% for(let i=projects.length-1; i>projects.length-4; i--){ %>
                        <div class="col-lg-4 col-md-12" style="margin-top: 8px">
                            <div class="card">
                                <% if(projects[i].link !== 'undefined'){ %>
                                   
                                    <a href="<%= projects[i].link %>"><img src="<%= projects[i].profile %>" alt="Strona" class="card-img-top"></a>
                               
                            <% } else { %>
                                    <img src="<%= projects[i].profile %>" alt="Strona" class="card-img-top">
                            <% } %>
                            
                            
                            
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="/projects/<%= projects[i].subpageLink %>" id="name"><%= projects[i].title %></a>
                                    <% if(projects[i].type === "not-ended"){ %>
                                        <h5>
                                            <span class="badge badge-danger text-danger border border-danger" style="background:#082447"><%= language.__(projects[i].type) %></span>
                                        </h5>
                                    
                                    <% } else if(projects[i].type === "awaiting"){ %>
                                        <h5>
                                            <span class="badge badge-warning text-warning border border-warning" style="background:#082447"><%= language.__(projects[i].type) %></span>
                                        </h5>
                                    <% } else if(projects[i].type === "done"){ %>
                                        <h5>
                                            <span class="badge badge-success text-success border border-success" style="background:#082447"><%= language.__(projects[i].type) %></span>
                                        </h5>
                                    <% } %>
                                    
                                </div>
                                
                                    <% if(lang==="pl"){ %>
                                         <p class="normal"><%- projects[i].description.substring(0,200) %>...</p>
                                    <% } else { %>
                                         <p class="normal"><%- projects[i].en.substring(0,200) %>...</p>
                                    <% } %>
                                    <a href="/projects/<%= projects[i].subpageLink %>" class="btn-mine"><%= language.__("Czytaj więcej") %></a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
               
                   
            </div>
           
       
    </div>

<% include ./partials/footer %>