<% include ../partials/header %>
	<br>
	<br>
	<br>
    <br>
    <% if(error.length > 0){ %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger" role="alert" style="background:transparent">
                        <%= error %>
                    </div>
                </div>
            </div>
        </div>
        
    <% } %>

    <div class="container">
       
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center" id="name"><%= language.__("Portfolio - sekcja Bootcamp") %></h1>
               
                <% if(typeof currentUser !== "undefined"){ %>
                    <% if(currentUser.username === "Admin"){ %>
                        <div class="text-center">
                            <a href="/bootcamps/new" style="text-align: center;">Dodaj bootcamp</a>
                        </div>
                        <br>
                    <% } %>
                   
                <% } %>
            </div>
        </div>
            <div class="row">
                <% if(bootcamps.length === 0){ %>
                    <br>
                    <div class="col-lg-12 text-center">
                        <div class="alert alert-info">
                            <%= language.__("Nie robiłem żadnych bootcampów") %>
                            <br>
                           
                           
                        </div>
                    </div>
                <% } else { %>
                    <% for(let i=0; i<bootcamps.length; i++){ %>
                        <div class="col-lg-4 col-md-12" style="margin-top: 8px">
                            <div class="card">
                                
                                        <img src="<%= bootcamps[i].profile %>" alt="Strona" class="card-img-top">
                                   
                                
                                <br>
                                <div class="card-title text-center" id="name"><a href="/bootcamps/<%= bootcamps[i].subpageLink %>" style="color: #d1ecf1"><%= bootcamps[i].title %></a></div>
                                <div class="card-body">
                                    <p class="normal"><%= language.__("Postęp:") %> <strong><%= bootcamps[i].progress %>%</strong></p>
                                   
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" style="width:<%= bootcamps[i].progress %>%" aria-valuenow="<%= bootcamps[i].progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> 
                                    <br>
                                      <p class="normal"><%= language.__("Instruktorzy:") %> <strong><%= bootcamps[i].instructor %></strong></p>
                                     
                                    <a href="/bootcamps/<%= bootcamps[i].subpageLink %>" class="btn-mine"><%= language.__("Zobacz więcej informacji") %></a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
              
                   
            </div>
           
       
    </div>

<% include ../partials/footer %>